<ion-header>
  <ion-navbar>
      <button icon-only ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="font-size: 13px;"> {{'Change Reward Type' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="canLogin">

  <form [formGroup]="bank_page" disabled="disabled">
    <ion-list>
      <ion-item style="margin-bottom: 10px;">
        <ion-label>{{'Reward Type' | translate}}</ion-label>  
      </ion-item>
       <ion-item style="border:none!important">
        <ion-select  col-12 (ionChange)="selectReward($event)" placeholder="Select Reward" formControlName="reward_type" [class.invalid]="!bank_page.controls.reward_type.valid && !bank_page.controls.reward_type.dirty" >
          <ion-option *ngFor = "let d of data1"  [value]="d.slug">{{d.name}} </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div *ngIf=" checkNeft == true">
      <ion-row class="heading" style="padding-left: 8%;">{{'Bank Details' | translate}}</ion-row>
      <ion-row style="padding-top: 5px;padding-bottom: 5px;">
        <ion-col>
          <ion-item >
            <ion-label stacked>{{'Bank' | translate}}</ion-label>
            <ion-input  type="text"  placeholder="bank" (input)="getItems($event.target.value)" formControlName="bank_name" required></ion-input>
          </ion-item>
          <ion-list *ngIf=" type == true" class="searchList" >
            <ion-item *ngFor="let item of bankDetails" (click)=dataSet(item)>
              {{ item }}
            </ion-item>
          </ion-list>

        <!-- <ion-option *ngFor="let item of bankDetails" (ionSelect)="dataSet(item)">{{ item }}</ion-option>
    </ion-select> -->

        </ion-col>
         <!-- <ion-input type="hidden"  placeholder="bank"  formControlName="bank" required></ion-input> -->
       </ion-row>
       <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>IFSC</ion-label>
            <ion-input type="text"  placeholder="ifsc" formControlName="ifsc" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label stacked>{{'Account Name' | translate}}</ion-label>
            <ion-input type="text" placeholder="account name" formControlName="acc_name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>{{'Account no' | translate}}</ion-label>
            <ion-input type="number"  placeholder="acc_no"  formControlName="acc_no" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item>
          <button ion-button clear icon-right end item-right (click)="uploadImage()">{{'Click Here To Upload Cheque' | translate}}
            <ion-icon name="camera">
              <span style="color: red;"> *</span>
            </ion-icon>
          </button>
        </ion-item>
      </ion-row>
    </div>
    <button ion-button color="primary" [disabled]="!bank_page.valid" (click)="update()" style="border-radius: 25px;" >{{'Submit' | translate}}</button>
  </form>

</div>


  <div *ngIf="!canLogin" style="width : 100%; height : 100% ; background: linear-gradient(to bottom right, #2991d6, #1970a8) !important;">
  <div style="color: white; text-align: center; font-size: 30px; position: absolute; margin-top: 60%;">
    Please contact Finolex sales team to complete registration
  </div>
  </div>

</ion-content>
