page-forgot-password {
	input[type="tel"]:focus{
    outline: none !important; 
    box-shadow: none !important;
    }

.login_container {
        position: relative;
        text-align: center;
        color: white;
        max-height: 30%;
    }
    .center_image{
       max-width: 100px;
       height: 100px; 
       margin: 5px;
       padding: 5px;
    }
    .label_bold{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    }
    .label_normal{
   	margin-left: 20px;
    margin-right: 20px;
    white-space: normal;
    font-size: 14px;
    }
    .div_center{
    	text-align: center;
    	align-items: center;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered h3{
        font-size: 40px;
    }
    .centered p{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        line-height: 0px !important;
    }
    .centered span{
        font-size: 14px;
    }
    .no-scroll .scroll-content{
    overflow: hidden;
  }
    .select-md {
        border-radius: 30px !important;
        margin: 0px !important;
        border: 1px solid lightgray;
        padding: 10px 12px 12px 12px !important;
        height: 40px;
        font-size: 16px;
    }
    .select-md .select-icon {
        position: relative;
        width: 19px;
        height: 25px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px solid #dedede;
    }
    .item-md {
        padding-left: 0px !important;
        background: transparent !important;
    }

    .ion-label#lbl-12 {
        padding-left: 12px;
        color: black;
    }

    .custom_input{
    border: 1px solid lightgrey;
    font-size: 16px;
    padding: 0px 12px;
    margin-bottom: 15px;
    border-radius: 30px!important;

    }
    .submit_button{
        border-radius: 30px;
        height: 35px;
    }


    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
        background-repeat: repeat-x;
        content: "";
    }

    .bottom-right {
        position: absolute;
        bottom: 0px;
        right: 8px;
        font-size: 12px;
        color: #acacac;
    }
    .cable_background{
        position: absolute;
        bottom: 0px;
        max-height: 40%;
    }
    .cable_background img{
        transform: scale(0.5);
        margin: 0px 95px -25px;
    }
    .myColor{
        bottom: -5px;
    }
    .forget_button{
        padding: 20px;
    background: transparent;
    float: right;
    color: grey;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
	    margin-left: 0;
	    margin-top: 8px;
	    margin-bottom: 8px;
	    width: calc(100% - 8px);
	    border: 1px solid rgba(0, 0, 0, 0.16)!important;
	    border-radius: 25px;
	}
	ion-label[stacked], ion-label[floating] {
    padding-left: 7%;   
	}
	.text-input-md{
		width: 80%;
	}
	.ion-icon{
		float: right;
	    position: relative;
	    top: 15px;
	    right: 15px;
	}
	ion-input{
		/*border:1px solid rgba(0,0,0,0.16);*/
		    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
	
	}

	.input_text{
		width: 89.2%;
	    border-top-left-radius: 30px;
	    border-bottom-left-radius: 30px;
	}
	.icon_button{
		float: right;
	    padding: 15px 10px;
	    border-top-right-radius: 30px;
	    border-bottom-right-radius: 30px;
	    background: transparent;
	    border-right: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
	    border-top: 1px solid #e8e8e8;
	}
	.label-md[stacked], .label-md[floating] {
	    margin-left: 0;
	    margin-bottom: 8px;
	    font-weight: bold;
	}

}
