
<ion-content padding>
<div class="popup_header">
	<div style="text-align: center;font-size: 25px;color: white;font-weight: bold;padding: 10px">
  Finolex
</div>

	<div style="font-size: 17px;color: white;">
  		<span>A New Version is Available. Update The New Version</span>
	</div>

<div (click)="gotoPlaystore()" style="text-align: right;color: white;font-size: 17px;
    font-weight: bold;
    margin-top: 10px;">
	<span>Ok</span>
</div>
  
</div>
</ion-content>
