<ion-content>
    <div class="login_container" >
        <img src="assets/images/Login_bg.png">
        <div class="centered">
            <h3>{{'Finolex Cables Ltd' | translate}}</h3>
            <p>{{'Get Started' | translate}}</p>
            <span>{{'Experience your brand!' | translate}}</span>
        </div>
    </div>

    <div class="" style="flex-direction: column; padding: 0px 20px; justify-content: space-evenly ; max-height: 100%!important;">
        <div class="div_center">
            
            <img src="assets/icon/OTP.png" class="center_image"/>
            <ion-label class="label_bold">{{'Please Enter OTP Code' | translate}}</ion-label>
            <ion-label class="label_normal">{{'OTP has been sent on' | translate}}</ion-label>
        </div>

        <ion-item text-center>
            <ion-input type="tel" [(ngModel)]="totalText" class="lable-input" maxlength="4" text-center></ion-input>
        </ion-item>
        <form [formGroup]="form">

            <button type="submit" class="submit_button" ion-button color="primary" (click)="sendOtp()" 
            full>{{'Verify' | translate}}</button>
        </form>
    </div>
</ion-content>