page-otp {

	.login_container {
		position: relative;
		text-align: center;
		color: white;
		max-height: 30%;
	}
	.center_image{
		max-width: 100px;
		height: 100px; 
		margin: 5px;
		padding: 5px;
	}
	.label_bold{
		margin-left: 20px;
		margin-right: 20px;
		font-weight: bold;
		font-size: 18px;
	}
	.label_normal{
		margin-left: 20px;
		margin-right: 20px;
		white-space: normal;
		font-size: 14px;
	}
	.div_center{
		text-align: center;
		align-items: center;
	}
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.centered h3{
		font-size: 40px;
	}
	.centered p{
		text-transform: uppercase;
		font-size: 16px;
		font-weight: normal;
		line-height: 0px !important;
	}
	.centered span{
		font-size: 16px;
	}
	.no-scroll .scroll-content{
		overflow: hidden;
	}
	.select-md {
		border-radius: 30px !important;
		margin: 0px !important;
		border: 1px solid lightgray;
		padding: 10px 12px 12px 12px !important;
		height: 40px;
		font-size: 16px;
	}
	.select-md .select-icon {
		position: relative;
		width: 19px;
		height: 25px;
	}
	.item-md.item-block .item-inner {
		padding-right: 0px;
		border-bottom: 0px solid #dedede;
	}
	.item-md {
		padding-left: 0px !important;
		background: transparent !important;
	}

	.ion-label#lbl-12 {
		padding-left: 12px;
		color: black;
	}

	.custom_input{
		border-bottom: 1px solid grey;
		font-size: 16px;
		padding: 0px 12px;
		margin-bottom: 15px;
	}
	.submit_button{
		border-radius: 30px;
		height: 35px;
	}


	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		background-image: none !important;
		background-repeat: repeat-x;
		content: "";
	}

	.bottom-right {
		position: absolute;
		bottom: 0px;
		right: 8px;
		font-size: 12px;
		color: #acacac;
	}
	.cable_background{
		position: absolute;
		bottom: 0px;
		max-height: 40%;
	}
	.cable_background img{
		transform: scale(0.5);
		margin: 0px 95px -25px;
	}
	.myColor{
		bottom: -5px;
	}
	.forget_button{
		padding: 20px;
		background: transparent;
		float: right;
		color: grey;
	}
	.otp {
		color: darkgray;
		border-style: none;
		width: 50px;
		height: 60px;
		font-size: 35px;
		border-bottom: 1px solid;
		margin-bottom: 20px;
		margin-right: 10px;
	}
	input:focus, select:focus, textarea:focus {
		outline: 0;
		border-color: #0366d6;
		background-color: #ffffff;
		box-shadow: 0 0 0px #0070D2 !important;
	}
.lable-input{
	    font-size: 40px;
    max-width: 70%;
    margin: 0 auto;
    height: 75px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 0.5px solid lightgrey;
}

}
