page-redeemcode {
	.item-ios {
	    padding: 0px 15px !important;
	}
	ion-badge.QrCodeBadge.badge.badge-ios {
    right: 15%;
    position: absolute;
    bottom: 6%;
}
	.scan_class {
    display: inline-block;
    font-size: 19.2em;
	}
	.QrCodeScan{
		position: relative;
	    width: 100%;
	    top: 61px;
	    right: 1px;
	    overflow: visible!important;
	}
	.QrCodeBadge{
		background-color: white;
	    position: absolute;
	    bottom: 10%;
	    right: 10%;
	    border-radius: 100%;
	    color: black;
	}
	.item-md.item-block .item-inner {
		border-bottom: 1px solid transparent;
	}
	
	ion-label#lbl-16 {
		font-size: 16px;
	}
	.item-input ion-input, .item-input ion-textarea {
		position: static;
		font-size: 14px;
		border: 1px solid #ddd;
		padding: 2px 10px;
	}
	.item-md .item-button {
    padding: 0 0.6em!important;
    height: 34px;
    font-size: 1.2rem;
    border-radius: 25px;
}

	input:focus, select:focus, textarea:focus {
        outline: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 2px #ffffff;
    }
    page-redeemcode .button-inner {
    	padding-top: 10px;
    	padding-bottom: 20px;
	}
	.messege{
     position: absolute;
     bottom: 49%;
     right: 34%;
     color:black;
 }
    
}
