html,
body{
    font-weight: normal;
    //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.label-ios {
    margin: 11px 8px 11px 0;
    padding-left: 15px;
}
.text-ios-primary {
    color: white !important;
    font-size: 14px;
}
.toolbar-background {
    background: linear-gradient(to bottom right, #2991d6, #1970a8) !important;
    border-color: transparent;
}
.sidebarHeader{
    background: linear-gradient(to bottom right, #fff, #e6e6e6) !important;
}
.sidebarHeader h3{
    font-size: 26px;
    color: #48a0dc;
    font-weight: bold;
    padding-bottom: 12px;
}
.sidebarHeader img{
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.sidebarHeader span{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}
.footer_bar{
    text-align: center;
    padding: 8px;
    border: 0px solid;
    font-size: 16px;
    color: #8a8a8a;
}