<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item class="sidebarHeader">
        <h3>Finolex</h3>
        <p><img src={{image}} align="middle">
        <span>{{username}}</span></p>
      </ion-item>
      <ion-item>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="border-bottom: 1px solid #cecece;">
          <p>
            <img style="height: 25px;" [src]="p.icon" align="middle">
            <span style="padding: 10px;font-weight: bold;">{{p.title | translate}}</span>
          </p>
        </button>
      </ion-item>  
    </ion-list>
  </ion-content>
  <ion-footer class="footer_bar">Finolex Cables. All rights reserved</ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>