page-tabs-screen {
	 .login_container {
        position: relative;
        text-align: center;
        color: white;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered h3{
        font-size: 40px;
    }
    .centered p{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        line-height: 0px !important;
    }
    .centered span{
        font-size: 14px;
    }
    .select-md {
        border-radius: 30px !important;
        margin: 0px !important;
        border: 1px solid lightgray;
        padding: 10px 12px 12px 12px !important;
        height: 40px;
        font-size: 16px;
    }
    .select-md .select-icon {
        position: relative;
        width: 19px;
        height: 25px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px solid #dedede;
    }
    .item-md {
        padding-left: 0px !important;
        background: transparent !important;
    }

    .ion-label#lbl-12 {
        padding-left: 12px;
        color: black;
    }

    .custom_input{
        border-radius: 30px;
        border: 1px solid lightgray;
        height: 40px;
        font-size: 16px;
        padding: 0px 12px;
        margin-bottom: 6px;
    }
    .input-wrapper{
        padding-top:14px;
    }
    .submit_button{
        border-radius: 30px;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
        background-repeat: repeat-x;
        content: "";
    }

    .bottom-right {
        position: absolute;
        bottom: 0px;
        right: 8px;
        font-size: 12px;
        color: #acacac;
    }
    .cable_background{
        position: absolute;
        bottom: 0px;
    }
    .cable_background img{
        transform: scale(0.5);
        margin: 0px 95px -25px;
    }
    .myColor{
        bottom: -5px;
    }
    .forget_button{
        padding: 20px;
    background: transparent;
    float: right;
    color: grey;
    }
    .toolbar-background {
    background: #ffffff !important;
    border-color: transparent;
    }
    .segment-button.segment-activated {
    background: #ffffff !important;
    opacity: 1 !important;
}
    .custom_input{
        border-radius: 30px;
        border: 1px solid lightgray;
        height: 40px;
        font-size: 16px;
        padding: 0px 12px;
    }
    .submit_button{
        border-radius: 30px;
    }
     .item-md.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px solid #dedede;
    }
    .select-md {
        border-radius: 30px !important;
        margin: 0px !important;
        border: 1px solid lightgray;
        padding: 10px 12px 12px 12px !important;
        height: 40px;
        font-size: 16px;
    }
    .select-md .select-icon {
        position: relative;
        width: 19px;
        height: 25px;
    }


    .segment-md .segment-button {
    
        color: #488aff;
    
    }
    .segment-button {
        color: #488aff;
        /* color: black !important; */        
    }
    input:focus, select:focus, textarea:focus {
        outline: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 2px #ffffff;
    }
    .segment-button.segment-activated {   
        font-size: 17px!important;
        font-weight: bold!important;
    }

    .popover-content{
        top:290px!important;
        left:82px!important;
    }
    ion-popover{
        left:63px!important;
        top:29px!important;
    }
    .toolbar-md {
    padding: 4px;
    min-height: 56px;
}

.profile-picture {
            display: block;
    margin-left: auto;
    text-align: right;
    width: 35%;
    height: 85px;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #488aff;
    opacity: 1;
    color: #488aff!important;
}
}
