<ion-header>

  <ion-navbar>
    <ion-title>{{'Notifications' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<div *ngIf="canLogin">

	<ion-grid>
		<ion-row>

		<ion-item col-6 style="padding-left: 5px;
    margin-right: -5px;" *ngFor="let notify of notifications;let id=index"> 
			<ion-card (click)="openVideo(notify)">
				 <img [src]='notify.image == null ? "assets/icon/finolex.png" : notify.image' style="height: 100px;"/>
					   <ion-row [style.background]="notify.read==1 ? 'lightgrey' : '#2698d8'">
				       <ion-col style="max-width: 100%;">
				       <p style="padding-left: 2px;padding-right: 2px">{{notify.title}}</p>
				  </ion-col>
				</ion-row>
			</ion-card>

				</ion-item>
			</ion-row>
	
 		<!-- <ion-row *ngIf = "!historyShow" style="padding: 39%;padding-top: 66%;font-weight:bold;">No Data Found</ion-row> -->
	</ion-grid>
</div>
<div  *ngIf="!canLogin" style="width : 100%; height : 100% ; background: linear-gradient(to bottom right, #2991d6, #1970a8) !important;">
  <div style="color: white; text-align: center; font-size: 30px; position: absolute; margin-top: 60%;">
    Please contact Finolex sales team to complete registration
  </div>
  </div>


</ion-content>
