page-confirmpassword {

	.login_container {
	        position: relative;
	        text-align: center;
	        color: white;
	        max-height: 30%;
	    }
	    .no-scroll .scroll-content{
	    overflow: hidden;
	  		}
	    .bottom-right {
	        position: absolute;
	        bottom: 0px;
	        right: 8px;
	        font-size: 12px;
	        color: #acacac;
	    }
	    .cable_background{
	        position: absolute;
	        bottom: 0px;
	        max-height: 40%;
	    }
	    .cable_background img{
	        transform: scale(0.5);
	        margin: 0px 95px -25px;
	    }
	    .myColor{
	        bottom: -5px;
	    }
		
	ion-label[stacked], ion-label[floating] {
    padding-left: 7%;   
	}
	.text-input-md{
		width: 80%;
	}
	.ion-icon{
		float: right;
	    position: relative;
	    top: 15px;
	    right: 15px;
	}
	ion-input{
		/*border:1px solid rgba(0,0,0,0.16);*/
		    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
	
	}

	.input_text{
		width: 89.2%;
	    border-top-left-radius: 30px;
	    border-bottom-left-radius: 30px;
	}
	.icon_button{
		float: right;
		height: 44px!important;
	    padding: 15px 10px;
	    border-top-right-radius: 30px;
	    border-bottom-right-radius: 30px;
	    background: transparent;
	    border-right: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
	    border-top: 1px solid #e8e8e8;
	}
	.label-md[stacked], .label-md[floating] {
	    margin-left: 0;
	    margin-bottom: 8px;
	    font-weight: bold;
	}
	input:focus, select:focus, textarea:focus {
        outline: 0!important;
        border-color: #ffffff!important;
        background-color: #ffffff!important;
        box-shadow: 0 0 2px #ffffff!important;
    }
    page-confirmpassword .icon_button{
        height: 44px!important;

    }
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered h3{
        font-size: 40px;
    }
    .centered p{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: normal;
        line-height: 0px !important;
    }
    .centered span{
        font-size: 16px;
    }
    .no-scroll .scroll-content{
	    overflow: hidden;
	}
	.pwd_section{
		position: absolute;
	    width: 100%;
	    margin-top: 32%;
	    padding: 15px;
	}


	}
