<ion-header>
  <ion-navbar>
      <button icon-only ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="font-size: 13px;">{{'Scan history' | translate}}</ion-title>
      <!-- <div end>  -->
        <img style="color: white;font-size: 1.6em;width:34px;height:20px;float: right;" (click)="presentAlert()"
         src="assets/icon/filter-results-button.svg">
      <!-- </div> -->
    </ion-navbar>
</ion-header>

<ion-content >

    <ion-grid>
      <ion-row style="background: #dcd9d9;font-weight: bold;font-size: 16px">
          <ion-col col-5 style="width:110px!important">{{'Code' | translate}}</ion-col>
          <ion-col col-2>{{'Status' | translate}}</ion-col>
          <ion-col col-4 style="padding-left:0px!important;padding-right:0px!important;">{{'Date' | translate}}</ion-col>
          <ion-col col-1>{{'Channel' | translate}}</ion-col>
        </ion-row>
    </ion-grid>
 
 <ion-grid >
    
    <div *ngIf = "historyShow" >
    <ion-row  *ngFor="let i of items" style="font-size: 16px;padding: 5px">
    	<ion-col col-5 style="width:110px!important">{{i.code}}</ion-col>
    	<ion-col col-2>{{i.status}}</ion-col>
    	<ion-col col-4 style="padding:0px!important" displayFormat="MM/DD/YY">{{i.redeem_date}}</ion-col>
    	<ion-col col-1>{{i.channel}}</ion-col>

    </ion-row>
    </div>
    <ion-row *ngIf = "!historyShow" style="padding: 39%;padding-top: 66%;font-weight:bold;">{{'No Data Found' | translate}}</ion-row>

</ion-grid>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>