
<ion-header>

  <ion-navbar>
    <ion-title>{{notification.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="canLogin">

	<ion-grid >
		<ion-row >
			<ion-item>
				<ion-card >
					<img  style=" width: 100%;height: 200px;text-align: center;" [src]='notification.image == null ? "assets/icon/finolex.png" : notification.image'>
					<!-- <img  style=" width: 100%;height: 150px;" src="assets/icon/MobileNumber.png"> -->
				</ion-card>
			</ion-item>
		</ion-row>

		<!-- <ion-row style="height: 200px;padding: 5px;"> -->
			<ion-row>
			<p style="margin-left: 25px;font-size: 16px;font-weight: bold;">{{notification.title}}</p>

					<p class="p-desc">{{notification.description}}</p>
		</ion-row>
	</ion-grid>
</div>

<div  *ngIf="!canLogin" style="width : 100%; height : 100% ; background: linear-gradient(to bottom right, #2991d6, #1970a8) !important;">
  <div style="color: white; text-align: center; font-size: 30px; position: absolute; margin-top: 60%;">
    Please contact Finolex sales team to complete registration
  </div>
  </div>

</ion-content>
